@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?y65gy5');
  src: url('fonts/icomoon.eot?y65gy5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y65gy5') format('truetype'),
    url('fonts/icomoon.woff?y65gy5') format('woff'),
    url('fonts/icomoon.svg?y65gy5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-css3:before {
  content: '\e904';
  color: #1572b6;
}
.icon-html5:before {
  content: '\e905';
  color: #e34f26;
}
.icon-whatsapp:before {
  content: '\e900';
}
.icon-linkedin:before {
  content: '\e903';
}
.icon-github:before {
  content: '\e901';
}
.icon-instagram:before {
  content: '\e902';
}
